<ion-card class="relative">
  <video (loadeddata)="handleVideoOnLoad($event)" (click)="handleVideoControls()" class="w-full" *ngIf="post._type === 'video'" alt="" [src]="post.link">
  </video>
  <img class="w-full" *ngIf="post._type === 'image'" alt="" [src]="post.link" />
  <div class="absolute bottom-0 left-0 w-full">
    <div class="w-full flex justify-end p-2">
      <div class="w-8 grid grid-cols-1 gap-2">
        <app-action-button iconName="thumbs-up" iconSize="large" [text]="post.ups" />
        <app-action-button iconName="thumbs-down" iconSize="large" [text]="post.downs"  />
        <app-action-button iconName="bookmark" iconSize="large" (click)="bookmarkPost()"/>
      </div>
    </div>
    <div class="w-full py-3 bg-gradient-to-t from-black to-transparent p-2">
      <div class="text-white flex items-center">
        <ion-icon name="person-circle" size="large" class="w-5" />
        <ion-text class="font-bold text-base">
          {{post.author}}
        </ion-text>
      </div>
      <ion-text >
        {{post.title}}
      </ion-text>
    </div>
  </div>
  <div *ngIf="post._type === 'video'" (click)="handleVideoControls()" [class.playing]="playing" class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-14 h-14">
    <app-action-button iconName="play-circle" iconSize="large" />
  </div>
  <app-action-button *ngIf="post._type === 'video'" (click)="handleVideoAudioMute()" [iconName]="volumeIconName" iconSize="large" class="absolute top-2 left-2 size-5" />
</ion-card>