<ion-card class="relative">
  <video (loadeddata)="handleVideoOnLoad($event)" (click)="handleVideoControls()" class="w-full" *ngIf="type === 'video'" alt="" [src]="link">
  </video>
  <img class="w-full" *ngIf="type === 'image'" alt="" [src]="link" />
  <div class="absolute bottom-0 left-0 w-full">
    <div class="w-full flex justify-end p-2">
      <div class="w-8">
        <div class="w-full flex justify-center">
          <img class="h-5" alt="" src="../../assets/icon/like.svg" />
        </div>
        <div class="text-white w-full flex justify-center">
          {{likes}}
        </div>
      </div>
    </div>
    <div class="w-full py-3 bg-gradient-to-t from-black to-transparent p-2">
      <ion-text class="text-white">
        {{title}}
      </ion-text>
    </div>
  </div>
  <div *ngIf="type === 'video'" (click)="handleVideoControls()" [class.playing]="playing" class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-14 h-14">
    <img alt="" src="../../assets/icon/play.svg" class="w-full" />
  </div>
</ion-card>